
body {
	background: #eee;
}

.mainbar {
	min-height: 30px;
}
.mainbar .item:first-child,
.mainbar .item:last-child {
	width: 250px;
}
.mainbar .item.menu {
	width: 150px;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}
	.mainbar .item.active {
		font-weight: bold;
	}
	.mainbar .item.menu.active,
	.mainbar .item.menu:hover {
		background: #444;
		border-right: 2px solid #111;
		border-left: 2px solid #111;
		box-shadow: 0 0 1px #000 inset;
	}
	.mainbar .item.menu a {
		display: block;
		height: 30px;
		line-height: 30px;
		text-decoration: none;
	}
.horizontal-list.navbar .title h1 a {
	text-decoration: none;
}

.content {
	max-width: 700px;
	margin: 50px auto;
}
	.content .horizontal-list {
		margin: 30px 0;
	}
	.content .texte .item {
		padding: 20px;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 10px;
	}
	.content .texte .separator {
		width: 50px;
	}

.aside {
	display: table-cell;
	height: 100%;
	width: 250px;
	vertical-align: top;
	background: #fff;
	border-right: 1px solid #ddd;
}

.game-template {
	display: table;
	height: 90%;
	width: 100%;
}
	.aside-profil {
		vertical-align: middle;
	}
	.experience {
		padding: 0 30px;
		margin: 0 0 50px;
		text-align: center;
	}
		.experience .item {
			display: inline-block;
			padding: 50px;
			margin: 0 50px;
		}
			.experience .item .points {
				display: block;
				font-size: 400%;
				font-weight: bold;
				text-shadow: 2px 2px 2px #aaa;
			}
	.inventaire,
	.quete {
		padding: 0 30px;
	}

	.experience h1,
	.inventaire h1,
	.quete h1 {
		margin: 20px 0 5px;
		padding: 5px 0;
		border-bottom: 1px solid #ddd;
		font-size: 170%;
		text-align: left;
	}

.top3 {
	max-width: 700px;
	margin: 0 auto;
}

.media-list {
	margin: 0;
	text-align: center;
	list-style: none;
}
	.media-list .avatar {
		margin: 5px 0;
	}
	.media-list .pseudo {
		font-size: 120%;
		font-weight: bold;
	}

table tr:nth-child(even) {
	background: #fff;
}
table th {
	padding: 3px 5px;
	border-bottom: 1px solid #aaa;
}
table td {
	padding: 0 5px;
	border-bottom: 1px solid #ddd;
}
table .small {
	width: 70px;
	text-align: center;
}
	table .small img {
		max-width: 70px;
	}
