
body {
	background: #eee;
}

.mainbar {
	min-height: 30px;
}
.mainbar .item:first-child {
	width: 250px;
}
.mainbar .item:last-child {
	width: 200px;
}

.mainbar .item.menu {
	width: 125px;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}
	.mainbar .item.active {
		font-weight: bold;
	}
	.mainbar .item.menu.active,
	.mainbar .item.menu:hover {
		background: #444;
		border-right: 2px solid #111;
		border-left: 2px solid #111;
		box-shadow: 0 0 1px #000 inset;
		text-shadow: -1px -1px 2px #000;
	}
	.mainbar .item.menu a {
		display: block;
		height: 40px;
		line-height: 40px;
		text-decoration: none;
	}
.mainbar.seancebar {
	position: fixed;
	z-index: 1000;
}
	.mainbar.seancebar .item+.item {
		display: none;
	}

.horizontal-list.navbar .title h1 a {
	text-decoration: none;
}

.content {
	max-width: 700px;
	margin: 50px auto;
}
	.content .horizontal-list {
		margin: 30px 0;
	}
	.content .texte .item {
		padding: 20px;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 10px;
	}
	.content .texte .separator {
		width: 50px;
	}

.aside {
	display: table-cell;
	height: 100%;
	width: 250px;
	vertical-align: top;
	background: #fff;
	border-right: 1px solid #ddd;
}

.game-template {
	display: table;
	height: 90%;
	width: 100%;
}
	.aside-profil {
		vertical-align: middle;
	}

	.game-template .content {
		max-width: none;
		margin: 0;
		padding: 0 30px;
	}
		.content.experience {
			text-align: center;
		}
			.content.experience .item {
				display: inline-block;
				padding: 50px;
				margin: 0 50px;
			}
				.content.experience .item .points {
					display: block;
					font-size: 400%;
					font-weight: bold;
					text-shadow: 2px 2px 2px #aaa;
				}

	.game-template .content h1 {
		margin: 20px 0 5px;
		padding: 5px 0;
		border-bottom: 1px solid #ddd;
		font-size: 170%;
		text-align: left;
	}

	
	.horizontal-list.compteurs,
	.horizontal-list.controles {
		width: 100%;
		min-height: 50px;
		position: fixed;
		z-index: 1000;
		background: rgba(255, 255, 255, 0.7);
		line-height: 50px;
		text-align: center;
	}
	.horizontal-list.compteurs {
		top: 42px;
		border-bottom: 1px solid #ddd;
	}
	.horizontal-list.controles {
		bottom: 0;
		border-top: 1px solid #ddd;
	}
		.horizontal-list.compteurs .item,
		.horizontal-list.controles .item {
			display: inline-block;
			width: 40%;
			padding: 0;
			margin: 0;
			vertical-align: middle;
		}
			.horizontal-list.compteurs .item span:first-child {
				font-weight: bold;
				font-size: 120%;
			}
			.horizontal-list.compteurs .item span:first-child.ok {
				color: #484;
			}

.top3 {
	max-width: 700px;
	margin: 0 auto;
}

.media-list {
	margin: 0;
	text-align: center;
	list-style: none;
}
	.media-list .avatar {
		margin: 5px 0;
	}
	.media-list .pseudo {
		font-size: 120%;
		font-weight: bold;
	}

.seance-template {
	width: 100%;
	height: 100%;
}
	.map {
		width: 100%;
		height: 100%;
	}
		.map img {
			max-width: none;
		}

table tr:nth-child(even) {
	background: #fff;
}
table th {
	padding: 3px 5px;
	border-bottom: 1px solid #aaa;
}
table td {
	padding: 0 5px;
	border-bottom: 1px solid #ddd;
}
	table tr:last-child td {
		border-bottom: 1px solid #aaa;
	}
table .small {
	width: 70px;
	text-align: center;
}
	table .small img {
		max-width: 70px;
	}

.gestion ul {
	list-style: none;
	margin: 0 0 0 5px;
}
button.not-btn {
	background: none;
	border: none;
	cursor: pointer;
}

@media(max-width: 800px) {

	.mainbar .item:first-child,
	.mainbar .item:last-child,
	.mainbar .item,
	.mainbar .item.menu {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
	}
		.mainbar .item.menu.active,
		.mainbar .item.menu:hover {
			border: none;
		}

	.content {
		padding: 0;
		text-align: center;
	}

	.form-group .group-name {
		display: none;
	}
	.form-group .group-controls {
		margin: 0;
	}
	input {
		margin: 5px 0;
	}

	table th {
		display: none;
	}

	.game-template {
		display: block;
	}
	.aside {
		display: block;
		width: auto;
		height: auto;
		background: none;
		border: none;
	}
	.experience .item {
		padding: 0;
	}
	.game-template .content,
	.horizontal-list .separator,
	.horizontal-list .item {
		display: block;
		width: auto;
		padding: 0 5px;
		margin: 5px;
	}
	.nav.nav-list {
		margin: 0;
	}

	button.not-btn span {
		display: none;
	}
}
