@(joueur: Joueur, quete: Quete)

@main(joueur, "Séance - RunPG", "seance") {
<div class="seance-template">
	<ul class="horizontal-list compteurs">
		<li class="item">
		<span class="distance">0 km</span>@if(quete != null) { (sur @quete.getObjDistance(joueur))}
		</li><!--
		--><li class="item">
		<span class="duree">0 mn</span>@if(quete != null) { (sur @quete.getObjDuree(joueur)) }
		</li>
	</ul>

	<div id="mapquest" class="map"></div>

	<ul class="horizontal-list controles">
		<li class="item"><a class="btn" href="@routes.Jeu.quetes(0)">Annuler</a></li><!--
		--><li class="item"><a class="btn btn-important" id="startQuest" data-state="stop" href="#">Commencer</a></li>
	</ul>
</div>
}
