@(joueur: Joueur, joueurs: List[Joueur])

@main(joueur, "RunPG") {
<div class="content">
	@if(flash.contains("success")) {
	<p class="alert alert-success">@flash.get("success")</p>
	}

	@if(joueurs.size() > 0) {
	<div class="top3">
		<h1>Top 3 des joueurs</h1>

		@if(joueur != null) {
		<a href="@routes.Application.classement()">Voir le classement complet</a>
		}

		<ul class="horizontal-list">
		@for(j <- joueurs.subList(0, 3)) {
			<li class="item">@views.html.joueurs.mediaitem(j)</li>
		}
		</ul>
	</div>
	}

	<ul class="horizontal-list texte">
		<li class="item">
		RunPG est le premier jeu de rôle utilisant vos déplacements de la vie de tous les jours pour faire progresser votre personnage.<br />
		Prenez votre téléphone en courant, enregistrez votre parcours et progressez !
		</li>

		<li class="separator"></li>

		<li class="item">
		N'attendez plus, @if(joueur == null) {<a href="@routes.Application.login()">inscrivez-vous</a>} else { <a href="@routes.Jeu.profil()">partez à l'aventure</a> }, c'est gratuit et ça le restera !
		</li>
	</ul>
</div>
}
