@(form: Form[Application.Login])

@main(null, "Connexion - RunPG", "login") {
<div class="content">
	@helper.form(routes.Application.authenticate) {
	<legend>Connexion</legend>

	@if(form.hasGlobalErrors) {
	<p class="alert alert-error">@form.globalError.message</p>
	}
	@if(flash.contains("success")) {
	<p class="alert alert-success">@flash.get("success")</p>
	}

	<div class="form-group">
		<label class="group-name" for="pseudo">Pseudo</label>
		<div class="group-controls">
			<input type="text" id="pseudo" name="pseudo" value="@form("pseudo").value" placeholder="Pseudo">
		</div>
	</div>
	<div class="form-group">
		<label class="group-name" for="password">Mot de passe</label>
		<div class="group-controls">
			<input type="password" id="password" name="password" placeholder="Mot de passe">
		</div>
	</div>
	<div class="form-group">
		<label class="group-name"></label>
		<div class="group-controls">
			<label class="checkbox" for="newAccount">
				<input type="checkbox" name="newAccount" id="newAccount" value="yes" @if(form("newAccount").value != null) { checked } />
				Ceci est un nouveau compte
			</label>
		</div>
	</div>

	<div class="form-group form-actions">
		<div class="group-controls">
			<button class="btn btn-important" type="submit">Connexion</button>
		</div>
	</div>
	}
</div>
}
